@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.App {
  background: url('images/j-lee-LYBSBjGo-5s-unsplash.jpg') no-repeat right center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

  &-wrapper{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding:15px;
  }

  &-header{
    flex-shrink: 0;
    flex-grow: 0;
  }

  &-footer{
    margin-top: auto;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 10px;
  }
}


.material-selector{
  label{
    position: relative;
    margin: 0 5px;

    > span{
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 1px 5px;

      img{
        width:30px;
        height: auto;
        margin-right: 5px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        text-transform: capitalize;
      }
    }

    input{
      visibility: hidden;
      position: absolute;

      &:checked{
        + span{
          box-shadow: 0 0 0 2px #73f173;
          border-radius: 4px;
          background: rgba(115, 241, 115, 0.3);
        }
      }
    }
  }
}
